{% extends 'base.html.twig' %}

{% block title %}Détails livre{% endblock %}

{% block body %}
<div class="d-flex justify-content-center">
  <div style="width:50%">
    <div class="d-flex justify-content-center">
      <h2>Toutes les informations du livre</h2>
    </div>
    <a class="btn btn-light border-dark my-4" href="{{ path('book_index') }}">Retour</a>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ book.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ book.title }}</td>
            </tr>
            <tr>
                <th>Auteur</th>
                <td>{{ book.author }}</td>
            </tr>
            <tr>
                <th>Date de publication</th>
                <td>{{ book.datePublication ? book.datePublication|date('d-m-Y') : '' }}</td>
            </tr>
            <tr>
                <th>Résumé</th>
                <td>{{ book.resume }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ book.status ? 'Disponible' : 'Prêté' }}</td>
            </tr>
            <tr>
                <th>Emprunteur</th>
                {% for value in user %}
                <td><a href="{{ path('user_show', {'id': value.id}) }}">{{ book.borrower }}</a></td>
                {% endfor %}
            </tr>
        </tbody>
    </table>
    <div class="d-flex">
    <a class="btn btn-success" href="{{ path('book_edit', {'id': book.id}) }}">Modifier</a>
    {{ include('book/_delete_form.html.twig') }}
    </div>
  </div>
</div>
{% endblock %}
