{% extends 'base.html.twig' %}

{% block title %}Détails livre{% endblock %}

{% block body %}
<div class="text-center my-4">
    <h2>Toutes les informations du livre</h2>
    <a class="btn btn-info my-4" href="{{ path('book_index') }}">Retour à la liste</a>
</div>
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ book.id }}</td>
            </tr>
            <tr>
                <th>Auteur</th>
                <td>{{ book.author }}</td>
            </tr>
            <tr>
                <th>Date de publication</th>
                <td>{{ book.datePublication ? book.datePublication|date('d-m-Y') : '' }}</td>
            </tr>
            <tr>
                <th>Résumé</th>
                <td>{{ book.resume }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ book.status ? 'Disponible' : 'Indisponible' }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ book.title }}</td>
            </tr>
        </tbody>
    </table>
    <div class="d-flex">
    <a class="btn btn-success" href="{{ path('book_edit', {'id': book.id}) }}">Modifier</a>
    {{ include('book/_delete_form.html.twig') }}
    </div>
{% endblock %}
