{% extends 'base.html.twig' %}

{% block title %}Liste des membres{% endblock %}

{% block body %}
<div class="d-flex justify-content-center">
  <div style="width:90%">
    <div class="d-flex justify-content-center">
    <h1>Liste des membres</h1>
  </div>
  <div class="d-flex justify-content-between">
    <a href="{{ path('Administrator_new') }}" class="btn btn-light border-dark mb-2">Ajouter un membre</a>
    <a href="{{ path('Administrator_home') }}" class="btn btn-light border-dark mb-2">Retour</a>
  </div>

    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Age</th>
                <th>N° de carte</th>
                <th>Adresse</th>
                <th>Ville</th>
                <th>Code Postale</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for Administrator in Administrators %}
            <tr>

                <td><a href="{{ path('Administrator_show', {'id': Administrator.id}) }}">{{ Administrator.name }}</a></td>
                <td>{{ Administrator.firstname }}</td>
                <td>{{ Administrator.age }}</td>
                <td>{{ Administrator.cardNumber }}</td>
                <td>{{ Administrator.adress }}</td>
                <td>{{ Administrator.city }}</td>
                <td>{{ Administrator.postalCode }}</td>
                <td>
                    <a href="{{ path('Administrator_edit', {'id': Administrator.id}) }}" class="btn btn-warning"><i class="far fa-edit fa-1x"></i></a>
                    <a href="{{ path('Administrator_delete', {'id': Administrator.id}) }}" class="btn btn-danger"><i class="fas fa-trash fa-1x"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
  </div>
</div>
{% endblock %}
