{% extends 'base.html.twig' %}

{% block title %}Administrator{% endblock %}

{% block body %}
<div class="d-flex justify-content-center">
  <div style="width:50%">
    <div class="d-flex justify-content-center">
    <h1>Information du membre</h1>
  </div>
  <a href="{{ path('Administrator_index') }}" class="btn btn-light border-dark">Retour</a>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ Administrator.id }}</td>
            </tr>
            <tr>
              <th>Nom</th>
              <td>{{ Administrator.name }}</td>
            </tr>
            <tr>
              <th>Prénom</th>
              <td>{{ Administrator.firstname }}</td>
            </tr>
            <tr>
              <th>Age</th>
              <td>{{ Administrator.age }}</td>
            </tr>
            <tr>
              <th>N° de carte</th>
              <td>{{ Administrator.cardNumber }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ Administrator.adress }}</td>
            </tr>
            <tr>
                <th>Ville</th>
                <td>{{ Administrator.city }}</td>
            </tr>
            <tr>
                <th>Code postal</th>
                <td>{{ Administrator.postalCode }}</td>
            </tr>
            <tr>
              <th>Livres empruntés</th>
              {% for book in books %}
              <td>{{ book.title }}</td>
              {% endfor %}
            </tr>
        </tbody>
    </table>
    {{ include('user/_delete_form.html.twig') }}
  </div>
</div>

{% endblock %}
